<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>

    <!-- ICON -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to our translation app</h1>
        </header>
        <nav class="nav_bar">
            <a class="Text" href="/">Text</a>
            <a class="File" href="/file">File</a>
        </nav>
        <main>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>
    
    <!-- JS -->
    {% block js %}{% endblock %}
</body>
</html>