{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/file_upload.css') }}">
{% endblock %}
{% block content %}
    <h2>Let's translate !</h2>
    <form id="file-upload-form" enctype="multipart/form-data" method="POST">
        {{ form.csrf_token() }}
        <div class="field-wrapper" id="target-language-wrapper">
            <h5 class="label">{{ form.target_language.label }}</h5>
            <div class="select-wrapper">
                <img class="flag-icon" id="target-language-flag-icon" src="{{ url_for('static', filename='images/auto_language.png') }}">
                {{ form.target_language }}
            </div>
        </div>

        <div class="field-wrapper" id="file-wrapper">
            <h5 class="label">{{ form.file.label }}</h5>
            {{ form.file }}
        </div>
            
        <img id="status-icon">
        <!-- TODO : use an image in the button -->
        <button type="submit">📥</button>
    </form>
    <div id="result-messages-wrapper"><!-- Result messages generated here (error or success) --></div>
    <div id="download-wrapper" style="display: none">
        <p>Please download the file <a href="/api/download-file"><span id="filename"></span></a></p>
        <a id="download-link" download="translated.txt" style="display: none">Download</a>
    </div>
        <!-- TODO : add file download button -->
{% endblock %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/fileUpload.js') }}"></script>
{% endblock %}

</body>
</html>