{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
    <h2>Let's translate !</h2>
    <form id="file-form" enctype="multipart/form-data" method="POST">
        {{ form.csrf_token() }}
        <div class="field-wrapper" id="target-language-wrapper">
            <h5 class="label">{{ form.target_language.label }}</h5>
            <div class="select-wrapper">
                <img class="flag-icon" id="target-language-flag-icon" src="{{ url_for('static', filename='images/auto_language.png') }}">
                {{ form.target_language }}
            </div>
        </div>

        <div class="field-wrapper" id="file-wrapper">
            <h5 class="label">{{ form.file.label }}</h5>
            {{ form.file }}
        </div>
            
        <img id="status-icon">
        <!-- TODO : use an image in the button -->
        <button type="submit">📥</button>
    </form>
        {% if error %}
            <p class="error-message" style="display: block">{{ error }}</p>
        {% endif %}
        <!-- TODO : add file download button -->
{% endblock %}
{% block js %}

{% endblock %}
</body>
</html>