<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <!-- TODO : Do a real header and navigation -->
            <h1>Welcome to our translation app</h1>
        </header>
        <main>
            <h2>Text translation</h2>
            <form id="translation-form">
                {{ form.csrf_token() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="field-wrapper" id="{{ field.id }}-wrapper">
                    {{ field.label }}
                    {{ field }}
                </div>
                {% endfor %}
    
                <div id="result-messages-wrapper"><!-- Result messages generated here (error or success) --></div>
                <button id="reverse-languages" type="button">↔️</button>
                <div id="loading-spinner"><!-- Loading spinner generated here --></div>
                
            </form>
        </main>
    </div>
    
</body>
</html>