{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
    <h2>Text Translation</h2>
    <form id="translation-form">
        {{ form.csrf_token() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="field-wrapper" id="{{ field.id }}-wrapper">
                <h5 class="label">{{ field.label }}</h5>
                {% if field.name == 'source_language' or field.name == 'target_language'%}
                    <div class="select-wrapper">
                        <img class="flag-icon" id="{{ field.id }}-flag-icon" src="{{ url_for('static', filename='images/auto_language.png') }}">
                        {{ field }}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}

            </div>
        {% endfor %}
        <div id="result-messages-wrapper"><!-- Result messages generated here (error or success) --></div>
        
        <img id="status-icon">
        <button id="reverse-languages-button" type="button" disabled>
            <img id="reverse-languages-icon" width="30" src="{{ url_for('static', filename='images/reverse_languages.png') }}" alt="Reverse languages">
        </button>
    </form>
{% endblock %}
{% block js %}
<script type="module" src="{{ url_for('static', filename='js/index/script.js') }}"></script>
{% endblock %}
</body>
</html>