/* Grid */
#translation-form {
    width: 50%;
    height: 60%;    
    margin: auto auto;
    gap: 10px;
    display: grid;
    grid-template-columns: 5fr 0.3fr 5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "source-select reverse-languages target-select"
        "text-to-translate . translated-text"
        "text-to-translate status-icon translated-text"
        "text-to-translate . translated-text"
        "result-messages-wrapper result-messages-wrapper result-messages-wrapper";

    justify-content: center;
    align-items: center;
}

/* Col 1 */
#source-language-wrapper {
    grid-area: source-select;
    width: 60%;
    justify-self: center;
}

#text-to-translate-wrapper {
    grid-area: text-to-translate;
}

/* Col 2 */
#reverse-languages {
    grid-area: reverse-languages;
}

#status-icon {
    grid-area: status-icon;
}

/* Col 3 */
#target-language-wrapper {
    grid-area: target-select;
    width: 60%;
    justify-self: center;
}

#translated-text-wrapper {
    grid-area: translated-text;
}

#result-messages-wrapper {
    grid-area: result-messages-wrapper;
}

/* Other */
#text-to-translate-wrapper > .label,
#translated-text-wrapper > .label {
    display: none;
}
