.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    padding: 15px 0;
    margin: 0;
    background: linear-gradient(0.50turn,var(--header-background-color), var(--light-color), var(--header-background-color));
}
.nav-link {
    font-size:x-large;
    text-decoration: none;
    color: var(--text-color);
    padding: 5px;
}
.nav-link:hover{
    color: var(--accent-color);
}

.nav-logo{
    height: 50px;
    width: 50px;
    padding: 0 10px;
}