/* Definition of color variables */
:root {
    /* Primary colors */
    --primary-color: #007bff; /* Blue */
    --secondary-color: #6c757d; /* Gray */
  
    /* Background colors */
    --background-color: #f8f9fa; /* Light gray */
    --surface-color: #ffffff; /* White */
  
    /* Text colors */
    --text-color: #212529; /* Black */
    --accent-color: #dc3545; /* Red */
  
    /* Accent colors */
    --accent1-color: #28a745; /* Green */
    --accent2-color: #ffc107; /* Yellow */
    
    /* State colors */
    --success-color: #28a745; /* Green */
    --error-color: #dc3545; /* Red */
    --warning-color: #ffc107; /* Yellow */
}
