/* Definition of color variables */
:root {
    /* Background colors */
    --background-color: rgba(202, 217, 210, 0.8);
    --header-background-color: rgba(202, 217, 210, 1);
    --input-background-color: rgba(228, 201, 169, 0.8);
    --input-hover-background-color: rgba(228, 201, 169, 1);
    --button-background-color: rgba(228, 201, 169, 0.8);
    --button-hover-background-color: rgb(228, 201, 169, 1);
    
    /* Text colors */
    --text-color: #564D48;
    --accent-color: #dc3545;
    --header-color: #5D5551;
    
    /* State colors */
    --success-color: #28a745;
    --error-color: #dc3545;

    /* Shadow color */
    --shadow-color: rgba(0, 0, 0, 0.5);
  
    /* Border color */
    --border-color: rgba(0, 0, 0, 1);
}
